//pixel

$home-background-primary-color: #121b1b;
$home-text-primary-color: rgb(82, 32, 116);
$home-text-font: 'Press Start 2P', cursive;
$home-font-size-default: 3rem;


//shared
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;


//main
$font-size: 1.6rem;

//colors
$primary-orange: #ffb347;
$primary-orange-light: #ffcc33;
$color-grey-light-1: #f7f7f7;