#contact {
    height: 28rem;
    width: 100%;
    transform: translateY(5rem);
    background-color: rgba($primary-orange-light, 1);
    

    &__form{
        


        &-email, &-firstname, &-lastname, &-feedback {
            background-color: white;
            border: 1px solid $primary-orange;
            color: black;
            &:hover {
                background-color: $primary-orange-light;
                color: white;
            }
            &:target {
                background-color: $primary-orange-light;
            color: white;
            }
        }
    }
    &__btn {
        background-color: white;
        border: 1px solid $primary-orange;
        color: black;
        height: 2.5rem;
        width: 6rem;
        @include respond(tab-land) {
            width: 8rem;
        }

        &:hover {
            background-color: $primary-orange-light;
            color: white;
        }
    }
    &__data{
        text-align: center;
    }

}
.status {
    text-align: center;
}
label{
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;

    
}
input {
    width: 30rem;
    height: 3rem;
    margin-bottom: 2px;
}
