.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 2.5rem;
    
    @include respond(tab-port) {
        display: none;
    }
    .list-item {
        transition: all .3s;
        &:hover{
            transform: translateY(-.5rem);
            
        }
    
        .link-text{
            text-decoration: none;
            color: black;
            font-size: 2.5rem;            
            
            &:hover {
                color: $primary-orange-light;
                
            }
        }
    }

}